@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    justify-content: space-around;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}
nav
{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: 10%;
    font-size: 10px;
}
#principale1
{
    padding-top: 50px;
    display: flex;
}
#imag
{
    position: absolute;
    margin-top: -10px;
    margin-left: 650px;
    border-width: 5px;
    border: none;
}
.prin1
{
    width: 50%;
    margin-right: 50px;
}
#nbr
{
    padding: 5%;
    font-size: 50px;
}
.nbc
{
    text-align: center;
}
.prin1 p
{
    padding: 5%;
}
button
{
    padding: 7px;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 20px;
    margin-left: 4%;
    border: none;
}
h4
{
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 5%;
}
h2
{
    margin-top: 21px;
}
.fin
{
    width: 100%;
}
#fi
{
    width: 100%;
}
img
{
    width: 500px;
    border-style: solid;
    border-color: white;
}
#our
{
    text-align: center;
    padding-bottom: 30px;
}
#pa
{
    text-align: center;
}
#cadre
{
    display: flex;
    justify-content: center;
    width: 100%;
}
#cadre h4
{
    text-align: center;
}
#cadre div
{
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 3%;
    padding-top: 2%;
    padding-left: 3px;
    padding-right: 3px;
    width: 20%;
}
#principale2
{
    padding-top: 10%;
    padding-bottom: 5%;
}
.ima
{
    height: 45px;
    width: 45px;
}
.ima img
{
    height: 55px;
    width: 55px;
    margin-left: 89px;
    border-width: 5px;
}
header h2
{
    margin-right: 730px;
}
#imag img
{
    height: 550px;
    width: 600px;
}
#cadre div p
{
    text-align: center;
}
#our span
{
    font-size: 50px;
}
#cadre1
{
    box-shadow: 1px -1px 1px -1px black;
}
#cadre2
{
    box-shadow: 1px -1px 1px -1px black;
}
#cadre3
{
    box-shadow: 1px -1px 1px -1px black;
}
#cadre4
{
    box-shadow: 1px -1px 1px -1px black;
}

